<%= render :partial => 'layouts/header' %>
<main>
    <section class="show-animal">
        <div class="container">
            <h1><%= @animal.name %></h1>
            
        </div>  
    </section>
</main>
<%= render :partial => 'layouts/footer' %>