<%= render :partial => 'layouts/header' %>

<main>
	<div class="container">
		<section>
			
			<p>
			  The time is now: <%= Time.now %>
			</p>

			<%= link_to 'Edit User', edit_user_registration_path %> 
		</section>
	</div>
</main>




