<%= render :partial => 'layouts/header' %>

<main>
	<div class="container">
		<section>
			<h2>Resgata bichos</h2>
			<p>
			  The time is now: <%= Time.now %>
			</p>		
		</section>
	</div>
</main>

