<% if @comments.ids.any? %>
	<div class="col-md-12">
		<% @comments.each do |comment| %>
			
			<p>Autor: <%= comment.user.name %> </p>
			
			<p>Comentario: <%= comment.body %></p>
		<% end %>
	</div>
<% end %>
