<% if @comments.ids.any? %>
	<div class="col-md-12">
		<% @comments.each do |comment| %>
			<% if comment.user.any? %>
				<p>Autor: <%= comment.user.name %> </p>
			<% end %>
			<p>Comentario: <%= comment.body %></p>
		<% end %>
	</div>
<% end %>
