<%= render :partial => 'layouts/header' %>

<main>
  <section class="new-animal">
    <div class="container">
		<h1>New Animal</h1>

		<%= render 'form', animal: @animal %>

		<%= link_to 'Back', animals_path %>

    </div>  
  </section>
</main>
