@media (max-width: 768px) {
	div.form-container {
		width: 100%;
	}
	div.principal-texto {
		margin-top: 20px;
	}
	section.principal {
		background-position: 0;
	}
	section.como-funciona {
		height: auto;
	}
	.principal-texto {
		text-shadow: 1px 1px 1px #3b3b3b;
	}
	.steps-cadastro ol li {
		font-size: 12px;
	}
	div.progress-bar {
		font-size: 11px;
	}
	div.form-container {
		margin-top: 10px;
		padding-top: 10px;
		margin-bottom: 30px;
	}
	div.card-animals-container {
		padding: 20px;
	}
	.adote img {
		margin: 0 auto;
		margin-bottom: 20px;
	}
}