h1, h2, h3, h4,li {
	font-family: 'Montserrat', sans-serif;
}
a, p, .progress {
	font-family: 'Open Sans', sans-serif;
}
main {
	margin-top: 51px;
}
a:hover {
	color: #666;
	cursor: pointer;
}
ul {
	list-style: none;
}
footer {
	border-top: 1px dotted #777;
}
.link-green {
	color: #6AB2A6;
}
.height-50 {
	padding-top: 25px;
	padding-bottom: 25px; 
}
.btn-principal {
	background-color: #8a26be;
	color: #fff;
	padding: 20px 25px;
    border-radius: 7px;
    border: 1px solid #823c84;
    font-size: 16px;
    transition: .5s;
}
.link-md {
	font-size: 16px;
    line-height: 35px;
}
.principal .btn-principal:hover {
	color: #fff;
    text-decoration: none;
    background-color: rgba(254, 185, 255, 0.85);
}
.btn-secundario.cancel {
	background-color: #ea2c2c;
	border: 1px solid #ea2c2c;
}
.btn-secundario {
	background-color: #6AB2A6;
	color: #fff;
	padding: 10px 25px;
    border-radius: 7px;
    border: 1px solid #3aa795;
    font-size: 16px;
    transition: .5s;
    width: 100%;
    margin: 10px 0;
}
.btn-secundario:hover {
	color: #fff;
    text-decoration: none;
    background-color: #a2d6cb;
}
.btn-fake {
	display: inline-block;
    text-align: center;
}
.icon {
	display: inline-block;	
}
.icon-bulldog {
	background: url(site/icons/bulldog.png);
	width: 128px;
	height: 128px;
}
.icon-cat {
	background: url(site/icons/cat.png);
	width: 128px;
	height: 128px;
}
.icon-family {
	background: url(site/icons/family.png);
	width: 128px;
	height: 128px;
}
.icon-map {
	background: url(site/icons/map.png);
	width: 128px;
	height: 128px;
}
div.tooltip.top {
	margin-top: 15px;
}
.tooltip-inner.fail {
    background-color: #ea2c2c;
}
.tooltip .tooltip-arrow.fail {
    border-top-color: #ea2c2c;
}
.navbar-default {
	background-color: #FFF5D3;
    border-color: #e2d6ad;
}
.navbar-default .navbar-nav>li>a{
	color: #6AB2A6;
	font-size: 16px;
}
.navbar-default .navbar-brand {
	color: #8a26be;
}
.principal {
	height: 75vh;
	background: url(site/dog-624952.jpg);
	background-size: cover;
	background-position: 0 -121px;
	background-repeat: no-repeat;
	text-align: center;
}
.principal-texto {
	margin-top: 80px;
}
.principal-texto h2 {
	padding-top: 10px;
}
.principal .btn-principal {
	margin-top: 20px;
    display: inline-block;
}
.como-funciona {
	padding: 30px 0;
	background: url(site/black-thread-light.png);
	background-repeat: repeat;
	text-align: center; 
}
.entrar,
.cadastro,
.esqueci-senha {
	height: 90vh;
	background: url(site/black-thread-light.png);
	background-repeat: repeat;
	text-align: center; 	
}
.field {
	text-align: left;
	margin-bottom: 15px;
}
.check-box {
    box-shadow: none;
}
.remember {
	margin: 15px 0;
}
.form-container {
	width: 100%;
    margin: 0 auto;
    padding: 30px 35px;
    border: 1px solid #777;
    margin-top: 35px;
    border-radius: 7px;
}
.progress-bar {
	background-color: #6AB2A6;
}
.steps-cadastro ol {
	height: 100px;
    padding-top: 40px;
    padding-left: 5px;
}
.steps-cadastro li {
	font-size: 18px;
	list-style-position: inside;
}
.final {
	text-align: center;
}
.card-animals-container {
	padding: 20px 20px 35px 20px;
    background: #f3f2f2;
    border: 1px dashed #929292;
    margin-top: 25px;
}
.index-animals .btn-secundario {
    margin-top: 17px;
    display: inline-block;
    text-align: center;
}
.card-animals-container ul {
	padding: 2px;
}
.card-animals-container .links {
	border-top: 1px solid #929292;
	padding-top: 5px;
}
.show-animal-container {
	padding: 20px 0;
}
.show-animal-container p {
	display: inline-block;
}
.show-animal-container h4 {
	display: inline-block;
}
.show-animal-container ul {
	display: block;
    clear: both;
    padding-left: 20px;
}
.show-animal-container li {
	display: inline-block;
}
.show-animal .box-img {
	text-align: center;
}
.show-animal .box-img ul {
	margin: 20px;
}
.show-animal .box-infos div {
	border-bottom: 1px solid #cccccc;
}
.show-animal .box-events {
	background-color: #ffffff;
}
.show-animal .box-events ul {
	padding-left: 0;
}
.show-animal .box-events li {
	display: block;
}
.separator {
	width: 100%;
	padding: 10px 0;
}
.search {
	margin-bottom: 35px;
}
#map-search {
	height: 650px;
	width: 100%;	
}
#map-canvas {
	height: 500px;
	width: 100%;
}
#mapholder {
	height: 400px;
}
.search-block {
    text-align: center;
    margin-bottom: 20px;
}
.search-block label {
	cursor: pointer;
	padding: 15px;
    width: 100%;
    background-color: #eee;
    color: #6AB2A6;
    border-radius: 5px;
}
.search-block input {
	display: none;
}
.search-block label.selected {
	border: 1px solid #ccc;
}
.box-search-animals {
	color: #6AB2A6;
}
.progress {
	width: 100%;
}
.btn-tooltip {
	padding: 3px 10px;
    margin-bottom: 10px;
    background-color: #eee;
}
.fix-img {
	margin-top: 46px;
}
.adote {
	background: #6AB2A6;
	padding: 30px 0;
}
.adote h3 {
	color: #ffffff;
	padding-bottom: 30px;
	font-size: 28px;
}
.adote p {
	padding: 0 50px;
	color: #ffffff;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}
.adote p::first-letter { 
    font-size: 200%;
}
.adote img {
	box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.57);
    border: 1px dotted #fff;
}
.fb-share-button { 
	top: -5px;
}
.share-buttons {
	display: inline-block;
	margin-left: 20px;

}
.show-animal h1 {
	display: inline-block;
	padding-top: 15px;
}