h1, h2, h3, h4,li {
	font-family: 'Montserrat', sans-serif;
}
a, p, .progress {
	font-family: 'Open Sans', sans-serif;
}
main {
	margin-top: 51px;
}
a:hover {
	color: #666;
}
.btn-principal {
	background-color: #B046B2;
	color: #fff;
	padding: 20px 25px;
    border-radius: 7px;
    border: 1px solid #823c84;
    font-size: 16px;
    transition: .5s;
}
.principal .btn-principal:hover {
	color: #fff;
    text-decoration: none;
    background-color: rgba(254, 185, 255, 0.85);
}
.btn-secundario {
	background-color: #6AB2A6;
	color: #fff;
	padding: 10px 25px;
    border-radius: 7px;
    border: 1px solid #3aa795;
    font-size: 16px;
    transition: .5s;
    width: 100%;
    margin: 10px 0;
}
.btn-secundario:hover {
	color: #fff;
    text-decoration: none;
    background-color: #a2d6cb;
}
.icon {
	display: inline-block;	
}
.icon-bulldog {
	background: url(site/icons/bulldog.png);
	width: 128px;
	height: 128px;
}
.icon-cat {
	background: url(site/icons/cat.png);
	width: 128px;
	height: 128px;
}
.icon-family {
	background: url(site/icons/family.png);
	width: 128px;
	height: 128px;
}
.icon-map {
	background: url(site/icons/map.png);
	width: 128px;
	height: 128px;
}
div.tooltip.top {
	margin-top: 15px;
}
.tooltip-inner.fail {
    background-color: #ea2c2c;
}
.tooltip .tooltip-arrow.fail {
    border-top-color: #ea2c2c;
}
.navbar-default {
	background-color: #FFF5D3;
    border-color: #e2d6ad;
}
.navbar-default .navbar-nav>li>a{
	color: #6AB2A6;
	font-size: 16px;
}
.navbar-default .navbar-brand {
	color: #B046B2;
}
.principal {
	height: 75vh;
	background: url(site/dog-624952.jpg);
	background-size: cover;
	background-position: 0 -121px;
	background-repeat: no-repeat;
	text-align: center;
}
.principal-texto {
	margin-top: 80px;
}
.principal-texto h2 {
	padding-top: 10px;
}
.principal .btn-principal {
	margin-top: 65px;
    display: inline-block;
}
.como-funciona {
	height: 40vh;	
	background: url(site/black-thread-light.png);
	background-repeat: repeat;
	text-align: center; 
}
.entrar {
	height: 90vh;
	background: url(site/black-thread-light.png);
	background-repeat: repeat;
	text-align: center; 	
}
.field {
	text-align: left;
	margin-bottom: 15px;
}
.remember {
	margin: 15px 0;
}
.form-container {
	width: 50%;
    margin: 0 auto;
    padding: 30px 35px;
    border: 1px solid #777;
    margin-top: 35px;
    border-radius: 7px;
}
.progress-bar {
	background-color: #6AB2A6;
}
.steps-cadastro ol {
	height: 100px;
    padding-top: 40px;
}
.steps-cadastro li {
	list-style-position: inside;
}