<%= render :partial => 'layouts/header' %>

<main>
  <section class="search">
    <div class="container">
    	<h1>Procurar animais</h1>

		<div id="map-search"></div>
    </div>
 </section>
</main>
<%= render :partial => 'layouts/footer' %>
