<footer class="height-50 ">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center">Procure animais perdidos, encontrados ou para doação em <a class="link-color" href="/search">Procurar Animais</a></h4>
				<p class="text-center"><small>Este é um trabalho de conclusão de curso do Instituto Federal de São Paulo, Campus Campinas.</small>
				<br/>
				<small>Tecnologia em Análise e Desenvolvimento de Sistemas</small></p>
			</div>
		</div>
	</div>
</footer>